.front-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 3em;
}

.img-container {
    position: relative;
    width: 15em;
    margin-left: 1.5em;
}

.img-container::before {
    display: block;
    content: '';
    padding-top: 129%;
   
   
}

.img-container a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0.3em;
    border: 1em solid white;
    box-shadow: 2px 2px #550080;
}

.img-container img {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.loaded .img-container img {
    opacity: 1;
    transition: opacity 0.5s ease-in 1.7s;
}

.first-dog-name {
    transform: translateX(-5em);
    opacity: 0;
}

.loaded .first-dog-name {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.8s ease-in 0.5s, opacity 0.5s ease-in 0.5s;
}

.second-dog {
    padding-right: 3em;
}
.second-dog-name {
    transform: translateX(+5em);
    opacity: 0;
}

.loaded .second-dog-name {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.8s ease-in 1s, opacity 0.5s ease-in 1s;
}

