.front-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3em;
}

.img-container {
    position: relative;
    width: 15em;
    
    
}

.img-container::before {
    display: block;
    content: '';
    padding-top: 130%;
   
   
}

.img-container a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0.3em;
}

.img-container img {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

.front-container::after {
    clear: both;
}
