@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('./typography.css');
@import url('./front-page.css');
@import url('./navi.css');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right top, #06f3eb, #00d2ff, #00abff, #0078ff, #6712eb);
    min-height: 100vh;

}



.site-main {
    max-width: 75em;
    margin: auto;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2em 2em;
}

.site-footer {
    
    text-align: right;
}

.site-footer p {
    color: #550080;
    padding-right: 2em;
}


