body {
    font: 18px/1.5 'Marck Script', cursive;
}

h1 {
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 2px #550080;

}
h1 a,
.site-nav a {
    color: white;
}

h2 {
    font-size: 2.5em;
    text-shadow: 2px 2px #550080;
    color: white;
    padding-bottom: 1em;
}

.site-nav ul li {
    font-size: 1.2em;
}

.site-header a {
    text-decoration: none;
    /* color: white; */
    
}

